<div class="custom flex flex-col text-center items-center gap-8 p-4">
  <header class="w-full flex flex-col items-center gap-4">
    <h1
      class="custom flex items-center gap-10 bg-transparent text-blue-650"
      *ngIf="deck"
    >
      Baralho {{ deck.name }}!
      <a class="cursor-pointer" routerLink="/decks">
        <igx-icon>home</igx-icon></a
      >
    </h1>
    <div class="flex items-center justify-between gap-4">
      <span>Treinadores - {{ trainers }}/{{ deck?.cards?.length || 0 }}</span>
      <span>Pokemons - {{ pokemons }}/{{ deck?.cards?.length || 0 }}</span>
    </div>
    <p class="flex items-center">Tipos - <span>{{ joinTypes() }}</span></p>
  </header>
  <main class="flex flex-col gap-4">
    <div
      class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <ng-container *ngIf="deck">
        <app-pokemon-card
          [deckName]="deck.name"
          *ngFor="let card of deck.cards"
          [card]="card"
        ></app-pokemon-card>
      </ng-container>
    </div>
  </main>
</div>
