<div class="custom flex flex-col text-center items-center gap-8">
  <header class="w-full flex flex-col items-center gap-4">
    <h1 class="custom flex items-center gap-10 bg-transparent text-blue-650">
      Crie seu baralho!
      <a
        routerLink="/decks"
        #target="tooltipTarget"
        [hideDelay]="500"
        [igxTooltipTarget]="tooltipRef"
      >
        <igx-icon>home</igx-icon></a
      >
    </h1>
    <h3 class="custom bg-transparent text-blue-650">
      Selecione ao menos 24 cartas para criar um baralho.
    </h3>
    <div class="w-full flex flex-row gap-4">
      <div class="w-full flex flex-col items-start">
        <igx-input-group style="width: 100%;">
          <input
            igxInput
            name="deckName"
            type="text"
            [disabled]="hasCard"
            [(ngModel)]="deckName"
          />
          <label igxLabel for="deckName">Nome do baralho</label>
        </igx-input-group>
        <small
          *ngIf="!deckName || deckName.length < 1"
          class="custom bg-transparent text-red-450 font-bold"
        >
          Digite um nome para liberar a adição de cartas ao baralho.
        </small>
      </div>
      <div class="w-full flex flex-col items-start">
        <igx-input-group style="width: 100%;">
          <input
            igxInput
            name="pokemonName"
            type="text"
            (change)="findPokemon($event)"
          />
          <label igxLabel for="pokemonName">Filtrar por nome</label>
        </igx-input-group>
      </div>

    </div>
  </header>

  <div class="flex justify-center items-center" *ngIf="isLoading">
    <div
      class="animate-spin inline-block size-32 border-[3px] border-current border-t-transparent text-blue-350 rounded-full dark:text-blue-500"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <main class="flex flex-col gap-4" *ngIf="!isLoading">
    <div
      class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <app-card
        (savedCard)="(savedCard)"
        [name]="deckName"
        *ngFor="let card of cards"
        [card]="card"
      ></app-card>
    </div>
    <!-- quero um botao "carregar mais" -->
    <div class="flex justify-center items-center gap-4">
      <button
        *ngIf="!isLoadingMore"
        igxButton="flat"
        igxRipple
        igxButtonColor="black"
        (click)="loadMore()"
        class="custom p-8 text-xl"
      >
        Carregar mais
      </button>
      <div class="flex justify-center items-center" *ngIf="isLoadingMore">
        <div
          class="animate-spin inline-block size-8 border-[3px] border-current border-t-transparent text-blue-350 rounded-full dark:text-blue-500"
          role="status"
          aria-label="loading"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </main>
</div>
<div #tooltipRef="tooltip" igxTooltip>Voltar para baralhos</div>
