<div class="custom w-full h-full flex flex-col p-4">
  <header class="w-full flex flex-col items-center gap-4">
    <h1 class="custom flex items-center gap-2 bg-transparent text-blue-650">
      Aqui estão seus baralhos!
    </h1>
    <a
      routerLink="/decks/create"
      igxButton="contained"
      igxButtonColor="#f5f5f2"
      class="bg-red-450/50 text-white/90 hover:bg-red-450/70"
    >
      Adicionar baralho
    </a>
  </header>
  <main class="flex flex-col gap-4 items-center">
    <div
      *ngIf="pokemonDecks && pokemonDecks[0]"
      class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <app-deck-card
        *ngFor="let deck of pokemonDecks"
        [deck]="deck"
      ></app-deck-card>
    </div>

    <app-empty-state title="deck" *ngIf="!pokemonDecks || !pokemonDecks[0]">
    </app-empty-state>
  </main>
</div>
